@theme {
  --color-background: #f4ebdd;
  --color-primary: #3b2a20;
  --color-secondary: #5a4436;
  --color-accent: #b5622b;
  --color-accent-gold: #c9a05c;
  --color-white: #ffffff;

  --grid-template-columns-editorial: repeat(12, minmax(0, 1fr));
}
